@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", system-ui;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(bg.jpg);
    background-size: cover;
    background-position: center;
}

.wrapper {
    width: 420px;
    color: #FFF;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    backdrop-filter: blur(20px);
    border-radius: 25px;
    padding: 40px 45px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    display: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box .input-field {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0;
}

.input-box .input-field input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    outline: none;
    font-size: 16px;
    color: #FFF;
    border-radius: 6px;
    padding: 15px 15px 15px 40px;
}

.input-box .input-field input::placeholder {
    color: #FFF;
}

.input-box .input-field i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .btn {
    width: 100%;
    height: 42px;
    background: #FFF;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin: 60px 0 0;
}

.wrapper .back-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.back-link p a {
    color: #FFF;
    text-decoration: none;
    font-weight: 600;
}

.back-link p a:hover {
    text-decoration: underline;
}